*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main {
    height: 100vh;
    width: 100%;
}

#nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

#nav #left{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 20%;
}

#nav #right{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 80%;
    gap: 50px;
}

#nav #right ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
    font-size: 20px;
}

#nav #right button {
    padding: 10px 20px;
    border-radius: 20px;
}