*{
    margin:0%;
    padding: 6px;
    box-sizing:border-box;
}

.container{
    border: 2px solid rgb(rgb(206, 117, 117), rgb(136, 180, 136), rgb(129, 129, 219))

     
    height: 200vh;

}

.top-header{
        border: 1px solid grey;

}

.list1{
        height: 50px;
        /* border: 2px solid gray;*/
        text-align: center;
        word-spacing: 25px;
        padding-top: 5px;
        padding-left: 5px;
        text-decoration: rgb(187, 58, 155);
}

.list1>li{
        display:inline-block;
    
}

.list1>li>a{
        text-decoration:rgb(60, 235, 162);
        color:rgba(207, 104, 130, 0.767);

}

.botton{
    background-color: blue;
    color: rgb(236, 236, 5);
    font-size:small;
}

.Navheader{
    /* height: 500px;
    border: 2px solid rgb(191,7,123*/
}

.list2{
    padding-top: 10px;
}


.list2>li{
    display:inline;
}

.list2>li a{
    /*word-spacing:12px;*/
    text-decoration:underline;
    color:palevioletred
}

.content{
    height:800px;
    border: 2px solid red;
    background-color: rgb(red, green, blue)
}

.content>h1{
    position: fixed;
    left: 400px;
    top: 200px;
    /* text-align centress;*/
}
.container3{
    background-color: rgb(182, 124, 177);
    height: 400px;
    
}
.container3>h1{
    text-align: center;
}





